Node-RED_Flows/Lab2_Flow.json
[
    {
        "id": "b21410a1.25ff5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d188a7e9.04963",
        "type": "inject",
        "z": "b21410a1.25ff5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "9d96aabb.590ac8"
            ]
        ]
    },
    {
        "id": "9d96aabb.590ac8",
        "type": "file in",
        "z": "b21410a1.25ff5",
        "name": "",
        "filename": "/tmp/Lab2_voltage.txt",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "7b33d5a4.8126fc"
            ]
        ]
    },
    {
        "id": "7b33d5a4.8126fc",
        "type": "ui_gauge",
        "z": "b21410a1.25ff5",
        "name": "",
        "group": "d79a548a.4a672",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "13",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "d79a548a.4a672",
        "type": "ui_group",
        "name": "Robot Diagnostics",
        "tab": "52073c63.194e0c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "52073c63.194e0c",
        "type": "ui_tab",
        "name": "Lab 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]