Node-RED_Flows/Lab3_Flow.json
[{"id":"42035190.59c798","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6c87e744.c1bcc8","type":"inject","z":"42035190.59c798","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["95ed49ad.14c938","118721b9.9a0066","ffc597a1.c9e0a"]]},{"id":"95ed49ad.14c938","type":"file in","z":"42035190.59c798","name":"","filename":"/tmp/Lab2_voltage.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":480,"y":200,"wires":[["8661155f.ef5f2"]]},{"id":"8661155f.ef5f2","type":"ui_gauge","z":"42035190.59c798","name":"","group":"c6a0aaf5.e3d55","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":200,"wires":[]},{"id":"118721b9.9a0066","type":"file in","z":"42035190.59c798","name":"","filename":"/tmp/Lab3_heading.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":480,"y":300,"wires":[["b49be83d.a7ebf"]]},{"id":"ffc597a1.c9e0a","type":"file in","z":"42035190.59c798","name":"","filename":"/tmp/Lab3_direction.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":480,"y":400,"wires":[["a4083c71.c12068"]]},{"id":"b49be83d.a7ebf","type":"ui_gauge","z":"42035190.59c798","name":"","group":"f1808869.5dacc8","order":0,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"Degrees","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":300,"wires":[]},{"id":"a4083c71.c12068","type":"ui_text","z":"42035190.59c798","group":"f1808869.5dacc8","order":1,"width":0,"height":0,"name":"","label":"Direction","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":400,"wires":[]},{"id":"c6a0aaf5.e3d55","type":"ui_group","name":"Robot Diagnostics","tab":"d9c56865.db9ea8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f1808869.5dacc8","type":"ui_group","name":"Compass Readings","tab":"d9c56865.db9ea8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d9c56865.db9ea8","type":"ui_tab","name":"Lab 3","icon":"dashboard","disabled":false,"hidden":false}]